@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #0a100d;
  --color-white: #f9f7f3;

  /* --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1); */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* background: var(--color-black); */
}

a {
  color: unset;
  text-decoration: none;
}
